@import "tailwindcss";

/* your other global CSS below */


body,
html {
  height: 100%;
  margin: 0;
  background-color: #f8fafc;
  /* Slate-50 */
}

.dark body {
  background-color: #020617;
  /* Slate-950 */
}